body{
    background-color: azure; 
}
.block_1{
     margin:2px;
     padding-top: 30px;
     padding-left: 92%;
}
.button_1{
  /**  padding: 3%;*/
}
h2{
   position: absolute;
    top: 40px;
}
.fi{
    position: absolute;
    left: 20px;
}
.s{
    position: absolute;
    left: 70px;
}
.t{
    position: absolute;
    left: 115px;
}
.f{
   position: absolute;
    left: 170px
}
.rate{
    position: absolute;
    left: 210px;
    top: 58px;
    font-size: 30px;
}
.btn-group button {
  background-color: bisque; /* bisque background */
  border: 1px solid white ; /* Green border */
  color: white; /* White text */
  padding: 10px 10px; /* Some padding text */
  cursor:auto; /* Pointer/hand icon */
  width: 10%; /* Set a width if needed */
  display:grid; /* Make the buttons appear below each other */
}
.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}
/* Add a background color on hover */
.btn-group button:hover {
  background-color:darkgray;
}