/*Start global*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container{
    width: 1200px; /*Standard*/
    margin: auto;
}

/*End global*/

/*Start navbar*/
.navbar{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
    color:black;
}

.navbar .ourname{
    float: left;
    width: 60%;
    margin-top: 12px;
}

.navbar .links{
    float: right;
    width: 40%;
    margin-top: 5px;
}

.navbar .links a{
    display: inline-block; /*To make elements horizontal not vertical*/
    padding: 10px 10px;
    color:black;
}

.navbar .links a:hover
{
    color:chocolate;
}
/*End navbar*/

/*Start my farmework*/
.clearfix{
    clear: both;
}
/*End my framework*/

table {
    width: 40px;
    position: absolute;
    left: 10px;
    margin-top: 20px;
    margin-left: 60px;
    font-family: Tahomy;
    font-size: 20px;
}

.table{
    width :250px;
}

.btn-group {
    background-color: #ffceaf;
}

h2
{
    text-align: center;
    font-size: 60px;
    color:black;
    margin:100px 20px 20px;
    font-family: Tahomy;
    
}
