<!DOCTYPE html>
<html lang="an">
    <head>
       <link rel="stylesheet" type="text/css" href="project.css">
        <body>
            <h2>Crowding Rate</h2>
            <div class="block_1">
            <label  class="label_1"for="str1" id="str_1"></label>
            <button class="button_1" type="button"  onclick="func1()" >street1</button>
            <br>
            
            <label class="label_2" for="str2" id="str_2" ></label>
            <button class="button_2" type="button"  onclick="func2()" >street2</button>
            <br>
            
            <label class="label_2" for="str3" id="str_3" ></label>
            <button class="button_3" type="button" onclick="func3()" >street3</button>
            <br>
                <label id="N_car"></label>
                </div>
            <label>street1</label>
            <label>street2</label>
            <label>street3</label>
            <label>street4</label>
            <br><br>
            
            <label class="fi"id="line_1" >first</label>
            <label class="s" id="line_2" >second</label>
            <label class="t" id="line_3" >third</label>
            <label class="f" id="line_4" >fourth</label>
            <label class="rate" id="rate"></label>
            
            <script src="/socket.io/socket.io.js"></script>
            <script>
                const socket = io();
                socket.on('car numbers', (message) => {
                var {a1,a2,b1,b2}=message;
                
                var cars;

                        document.getElementById("line_1").innerHTML=a1;
                        document.getElementById("line_2").innerHTML=a2;
                        document.getElementById("line_3").innerHTML=b1;
                        document.getElementById("line_4").innerHTML=b2;

                        cars = a1 + a2 + b1 + b2;
               if(cars>130 && cars<270)
                    {
                        document.getElementById("rate").innerHTML="medium";
                    }
                else if (cars<=130){
                    
                    document.getElementById("rate").innerHTML="low";
                }
                    else{
                        document.getElementById("rate").innerHTML="High";
                    }
                });
                window.addEventListener('beforeunload', () => {
                    console.log('disconnect socket')
                    socket.close()
                })

                
            function func1() {
                document.getElementById("str_1").innerHTML="low";
            }
            function func2() {
                document.getElementById("str_2").innerHTML="high";
            }
            function func3() {
                document.getElementById("str_3").innerHTML="medium";
            }
                
            
                
            </script>
     
        </body>
    
    
    </head>
</html>
